</br>


<div class = "span6 offset3 smurfy text-center">

<h1 class="custom-h1">
	
		Hi I'm Gouri
	</h1>

	<h2 class ="custom-h2">

		Welcome to My World!
	</h2> 

	<%= link_to 'Launch', pics_path, :class => 'btn btn-warning btn-large' %>

</div>